body {
    background-image: url('/CIS2250/Images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

html * 
{
   line-height: 1.625;
   font-family:Helvetica, sans-serif;
 }


 table, th, td {
    border: 1px solid;
    width: 100%;
    table-layout: fixed ;
  }

  th, td {
    padding: 15px;
    max-height: 100px;
  }

  td {
    width:25%;
  }
  
  .card {
    border: 1px solid #ffffffe3;
    background-color:rgba(250, 250, 245, 0.900);
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
  }

  
  .button, button[type=submit] {
    background-color: #e7a900;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #e7a900;
  }
  
  .topnav a {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  
  .topnav a:hover {
    background-color: rgba(243, 203, 70, 0.8);
    color: black;
  }
  
